.box-imgs {
    margin-top: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.box-img {
    padding: 2rem;
    width: 49%;
    height: auto;
    display: flex;;
    flex-direction: column;
    align-items: center;
    gap: 20px 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.sm{
    width: 32%;
}

.box-img h3{
    color: var(--title-color);
    font-size: calc(var(--sub-title-size) - 10px);
}

.box-img img {
    width: 20rem;
    height: 13rem;
}

@media screen and (max-width: 1024px) {
    .sm img{
        width: 12rem;
    height: 10rem;
    }
}

@media screen and (max-width: 870px) {
    .box-img {
        min-width: 100%;
        height: auto;
        display: flex;;
        flex-direction: column;
        align-items: center;
        margin: 2rem auto;
    }

    .box-img img{
        width: 12rem;
        height: 10rem;
    }
}

@media screen and (max-width: 765px) {
    .box-imgs {
        display: flex;
        flex-wrap: wrap;
    }
}