:root {
    --title-size: 2.5rem;
    --sub-title-size: 2rem;
    --text-size: 1rem;
    --banner-text-size: 2rem;
    --text-color: #636363;
    --title-color: #0095BE;
    --banner-color: #f0f0f0;
    --text-weight: 500;
}

h1 {font-size: var(--title-size);}
h2 {font-size: var(--sub-title-size);}
p {font-size: var(--text-size); color: var(--text-color); font-weight: var(--text-weight);}
/* =================================================CARDS================================================= */
#main-content{
    margin-bottom: 3rem;
}

.main-section {
    width: 100%;
    height: 100%;
}

.box-cards {
    margin-bottom: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.box-cards .card{
    width: 22rem;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.089) 0px 13px 27px -5px, rgba(0, 0, 0, 0.185) 0px 8px 16px -8px;
}

.card img {
    width: 320px;
    height: 220px;
}

.card p {
    margin-top: 20px;
    font-size: calc(var(--text-size) + 5px);
}

@media screen and (max-width: 900px) {
    .box-cards .card{
        width: 17rem;
        height: 300px;
    } 

    .card img {
        width: 10rem;
        height: 8rem;
    }
}
/* =================================================CARDS-INFO================================================= */
.info-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-cards .prices {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.prices .price {
    display: flex;
    gap: 0 10px;
    justify-content: center;
}

.info-cards .prices .price img {
    width: 35px;
    height: 30px;

}

.info-cards .prices .price h2 {
    font-size: var(--sub-title-size);
    color: var(--title-color);
}

.info-cards .prices p {
    margin: 2rem 0;
}

.info-cards .details {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0;
}

.details .detail {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 0 10px;
    justify-content: center;
    text-align: center;
}

.details .detail img {
    max-width: 20px;
    max-height: 20px;
}

.details .detail span{
    color: var(--text-color);
    display: flex;
    gap: 2px;
}

@media screen and (max-width: 900px) {
    .info-cards .prices .price img {
        width: 25px;
        height: 25px;
    }

    .info-cards .prices .price h2 {
        font-size: calc(var(--sub-title-size) - 2px);
        color: var(--title-color);
    }

    .details .detail {
       gap: 0 2px;
    }
}

.info-cards button{
    margin-top: 2rem;
    border: none;
    background-color: #00000000;
}

.info-cards button a {
    padding: 0.5rem 2rem;
    border: 2px solid var(--title-color);
    background-color: var(--title-color);
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: 500;
    font-size: 15px;
    transition: 0.2s;
}

.info-cards button a:hover {
    background-color: #00000000;
    color: var(--title-color);
}
/* =================================================EXPERIMENTE-GRATIS================================================= */
.divider {
    margin-top: 2rem;
    width: 100%;
    height: 2px;
    background-color: #c7f3ff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.experimente-gratis {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.experimente-gratis p{
    margin-top: 35px;
    font-size: calc(var(--sub-title-size) - 8px);
    font-weight: 400;
}

.experimente-gratis button {
    margin-top: 4rem;
    margin-bottom: 2rem;
    border: none;
    background-color: #00000000;
}

.experimente-gratis button a{
    padding: 2rem 6rem;
    font-size: calc(var(--sub-title-size) - 8px);
    font-weight: 500;
    border: 4px solid var(--title-color);
    background-color: var(--title-color);
    color: #f5f5f5;
    border-radius: 5px;
    transition: 0.2s;
}

.experimente-gratis button a:hover{
   background-color: #00000000; 
   color: var(--title-color);
}

.experimente-gratis h2 {
    font-size: calc(var(--title-size) + 5px);
    color: var(--title-color);
    text-align: center;
    font-weight: 600;
}

.experimente-gratis h2::before{
    content: '';
    display: flex;
    position: relative;
    margin: auto;
    width: 280px;
    height: 4px;
    background-color: #0095BE;
}

.experimente-gratis h2::after{
    content: '';
    display: flex;
    top: 5px;
    position: relative;
    margin: auto;
    width: 280px;
    height: 4px;
    background-color: #0095BE;
}

@media screen and (max-width: 900px) {
    .experimente-gratis button {
        display: flex;
    }

    .experimente-gratis button  a{
        padding: 1rem;
    }

    .experimente-gratis h2::before{
        content: '';
        display: flex;
        position: relative;
        margin: auto;
        width: 200px;
        height: 4px;
        background-color: #0095BE;
    }
    
    .experimente-gratis h2::after{
        content: '';
        display: flex;
        top: 5px;
        position: relative;
        margin: auto;
        width: 200px;
        height: 4px;
        background-color: #0095BE;
    }
}
