/* =================================================CONFIGS================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

body {
    max-width: 100%;
    height: 100vh;
}

:root {
    --title-size: 2.5rem;
    --sub-title-size: 2rem;
    --text-size: 1rem;
    --banner-text-size: 2rem;
    --text-color: #636363;
    --title-color: #0095BE;
    --banner-color: #f0f0f0;
    --text-weight: 500;
}

h1 {font-size: var(--title-size);}
h2 {font-size: var(--sub-title-size);}
p {font-size: var(--text-size); color: var(--text-color); font-weight: var(--text-weight);}

.content {
    width: 100%;
    height: auto;
}

.container {
    max-width: 100%;
    height: 100%;
    margin: 0 5rem;

}

@media screen and (max-width: 650px) {
    .container {
        max-width: 100%;
        height: 100%;
        margin: 0 1rem;   
    }   
}
/* =================================================HEADER-TOP================================================= */
.header-top {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.header-top .icon {
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.header-top .icon #last {
    width: 20rem;
    display: flex;
    justify-content: right;  
}

.header-top .icon img{
    width: 2rem;
    height: 2rem;
}

.header-top .icon .text-icon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 20px;
}

.header-top .icon .text-icon p a  {
    color: var(--title-color);
    transition: 0.2s;
}

.header-top .icon .text-icon p a:hover {
    color: #005e79;
}

.header-top .icon .text-icon p, p a {
    width: 100%;
    font-size: var(--text-size);
    color: var(--text-color);
}

@media screen and (max-width: 650px) {

    .header-top {  
        display: flex;
        justify-content: space-between;
        margin: 0 ;
        padding: 1rem;

    }

    .header-top .icon {
        width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .header-top .icon img{
        width: 1rem;
        height: 1rem;
    } 
    
    .header-top .icon .text-icon {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
        text-align: center;
    }

    .header-top .icon .text-icon p, p a {
        width: 100%;
        font-size: 0.7rem;
        color: var(--text-color);
    }
}
/* =================================================HEADER================================================= */
header {
    max-width: 100%;
    height: 80px;
    border-bottom: 4px solid rgba(187, 2, 2, 0);
    border-bottom: 2px solid #c0c0c0;
}

header div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

header div.container a #logo {
    width: 13.75rem;
}

.main-tittle{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem auto;
}

.main-tittle h1{
    font-size: 42px;
    width: auto;
    color: var(--title-color);
}

.main-tittle h2{
    font-size: 40px;
}

@media screen and (max-width: 1080px) {
    header {
        height: 60px;
        border: none;
    }

    header div.container {    
        display: flex;
        align-items: center;
    }

    header div.container a {
        margin: auto;
    }

    header div.container a #logo {
        width: 8rem;
    } 
}

div.container nav{
    display: flex;
    align-items: baseline;
}

div.container nav button{
    background-color: #20202000;
    border: none;
    visibility: hidden;
    position: absolute;
}

div.container nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    list-style-position: inside;
    gap: 0 30px;
}

div.container nav ul li a {
    color: #202020;
    font-weight: 500;
    font-size: var(--text-size);
    transition: color 0.2s, border 0.2s;
}

div.container nav ul li a:hover{
    border-bottom: 4px solid var(--title-color);
    color: var(--title-color);
}

@media screen and (max-width: 900px) {
    header {
        height: 40px;
        margin-bottom: 1rem;
    }

    header div.container a #logo {
        width: 8rem;
    }

    div.container nav button{
        border: none;
        visibility: visible;
        position: relative;
        width: 25px;
        height: 10px;
        border-top: 3px solid currentColor;
        transition: 0.2s;
    }

    div.container nav button::after {
        content: '';
        display: block;
        width: 25px;
        height: 3px;
        background-color: currentColor;
        margin: 5px 0;
    }

    div.container nav button::before {
        content: '';
        display: block;
        width: 25px;
        height: 3px;
        background-color: currentColor;
        margin: 5px 0;
    }

    div.container nav ul {
        display: block;
        visibility: hidden;
        position: absolute;
        width: 100%;
        height: 0;
        top: 155px;
        left: 0;
        z-index: 1000;
        background-color: #ffffff;
        transition: 0.2s;
        overflow: hidden;
    }

    div.container nav.active  ul{
        visibility: visible;
        height: calc(100vh - 155px);
        overflow: auto;
    }

    div.container nav.active  ul li{
        padding: 10px;
        border-bottom: 2px solid #0095be33;
    }

    div.container nav.active button {
        border-top-color: #0095be00;
    }

    nav.active button::before{
        transform: rotate(135deg);
    }

    nav.active button::after {
        position: relative;
        transform: rotate(-135deg);
        top: -7px;
    }
}
/* =================================================BANNER================================================= */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px 0;
    width: 100%;
    height: 320px;
    background: linear-gradient(150grad, #0095be, #83e2fc);
    font-weight: 600;
    font-size: var(--banner-text-size);
    color: var(--banner-color);
    text-align: center;
}

#banner-button button {
    border: 3px solid #f5f5f5;
    background-color: #f5f5f500;
    border-radius: 5px;
    font-size: var(--text-size);
    color: #f5f5f5;
}

#banner-button button a {
    display: inline-block;
    padding: 1rem 4rem;
    font-size: var(--text-size);
    color: #f5f5f5;
    font-weight: 600;
    transition: background 0.2s, color 0.1s;
}

#banner-button a:hover{
    background-color: #f5f5f5;
    color: var(--title-color);
}

@media screen and (max-width: 650px) {
    .banner h3 {
        font-size: 1.5rem;
    }   

    #banner-button {
        height: auto;
        padding: 1rem 0;
    }
}
/* =================================================WHATSAPP================================================= */
body #wp-button {
    position: fixed;
    border: none;
    background-color: rgba(0, 149, 190, 0);
    width: 20px;
    top: 90%;
    right: 5%;
}

body #wp-button a img{
    width: 50px;
}

@media screen and (max-width: 650px) {
    body #wp-button {
        position: fixed;
        border: none;
        background-color: rgba(0, 149, 190, 0);
        width: 20px;
        top: 90%;
        right: 3rem;
    }
}
/* =================================================FOOTER================================================= */
footer {
    width: 100%;
    height: 300px;
    margin-top: 20rem;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--title-color);
    text-align: center;
}

footer p, p a{
    color: #f5f5f5;
}

footer .tags {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: left;
}

footer .tags p{
    display: block;
    width: 50%;
    font-size: calc(var(--text-size) - 2px);
}

footer .tags #strong {
    font-weight: 600;
}

footer .box-footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .links{
    width: 50%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.links .link {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links .link a img{
    width: 3rem;
}

.links .link p {
    color: #f5f5f5;
}
/* =================================================CARDS================================================= */
#main-content{
    margin-bottom: 3rem;
}

.main-section {
    width: 100%;
    height: 100%;
}

.box-cards {
    margin-bottom: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.box-cards .card{
    width: 22rem;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.089) 0px 13px 27px -5px, rgba(0, 0, 0, 0.185) 0px 8px 16px -8px;
}

.card img {
    width: 320px;
    height: 220px;
}

.card p {
    margin-top: 20px;
    font-size: calc(var(--text-size) + 5px);
}

@media screen and (max-width: 900px) {
    .box-cards .card{
        width: 17rem;
        height: 300px;
    } 

    .card img {
        width: 10rem;
        height: 8rem;
    }
}
/* =================================================CARDS-INFO================================================= */
.info-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-cards .prices {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.prices .price {
    display: flex;
    gap: 0 10px;
    justify-content: center;
}

.info-cards .prices .price img {
    width: 35px;
    height: 30px;

}

.info-cards .prices .price h2 {
    font-size: var(--sub-title-size);
    color: var(--title-color);
}

.info-cards .prices p {
    margin: 2rem 0;
}

.info-cards .details {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0;
}

.details .detail {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 0 10px;
    justify-content: center;
    text-align: center;
}

.details .detail img {
    max-width: 20px;
    max-height: 20px;
}

.details .detail span{
    color: var(--text-color);
    display: flex;
    gap: 2px;
}

@media screen and (max-width: 900px) {
    .info-cards .prices .price img {
        width: 25px;
        height: 25px;
    }

    .info-cards .prices .price h2 {
        font-size: calc(var(--sub-title-size) - 2px);
        color: var(--title-color);
    }

    .details .detail {
       gap: 0 2px;
    }
}

.info-cards button{
    margin-top: 2rem;
    border: none;
    background-color: #00000000;
}

.info-cards button a {
    padding: 0.5rem 2rem;
    border: 2px solid var(--title-color);
    background-color: var(--title-color);
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: 500;
    font-size: 15px;
    transition: 0.2s;
}

.info-cards button a:hover {
    background-color: #00000000;
    color: var(--title-color);
}
/* =================================================EXPERIMENTE-GRATIS================================================= */
.divider {
    margin-top: 2rem;
    width: 100%;
    height: 2px;
    background-color: #c7f3ff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.experimente-gratis {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.experimente-gratis p{
    margin-top: 35px;
    font-size: calc(var(--sub-title-size) - 8px);
    font-weight: 400;
}

.experimente-gratis button {
    margin-top: 4rem;
    margin-bottom: 2rem;
    border: none;
    background-color: #00000000;
}

.experimente-gratis button a{
    padding: 2rem 6rem;
    font-size: calc(var(--sub-title-size) - 8px);
    font-weight: 500;
    border: 4px solid var(--title-color);
    background-color: var(--title-color);
    color: #f5f5f5;
    border-radius: 5px;
    transition: 0.2s;
}

.experimente-gratis button a:hover{
   background-color: #00000000; 
   color: var(--title-color);
}

.experimente-gratis h2 {
    font-size: calc(var(--title-size) + 5px);
    color: var(--title-color);
    text-align: center;
    font-weight: 600;
}

.experimente-gratis h2::before{
    content: '';
    display: flex;
    position: relative;
    margin: auto;
    width: 280px;
    height: 4px;
    background-color: #0095BE;
}

.experimente-gratis h2::after{
    content: '';
    display: flex;
    top: 5px;
    position: relative;
    margin: auto;
    width: 280px;
    height: 4px;
    background-color: #0095BE;
}

@media screen and (max-width: 900px) {
    .experimente-gratis button {
        display: flex;
    }

    .experimente-gratis button  a{
        padding: 1rem;
    }

    .experimente-gratis h2::before{
        content: '';
        display: flex;
        position: relative;
        margin: auto;
        width: 200px;
        height: 4px;
        background-color: #0095BE;
    }
    
    .experimente-gratis h2::after{
        content: '';
        display: flex;
        top: 5px;
        position: relative;
        margin: auto;
        width: 200px;
        height: 4px;
        background-color: #0095BE;
    }
}
/* =================================================REQUIREMENTS================================================= */

requirements-section{
    width: 100%;
    height: 100%;
}

#container-reqs{
    display: flex;
    flex-wrap: wrap;
}

.requirements-box {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.requirements-box .texts {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0 15px;
}

@media screen and (max-width: 900px) {
    .requirements-box .texts{
        flex-direction: row;
        width: 100%;
        margin-bottom: 25px;
    } 
}

@media screen and (max-width: 720px) {
    .requirements-box .texts{
        flex-direction: column;
        width: 100%;
        margin-bottom: 25px;
    }
}
/* =================================================TEXT-REQUIREMENTS================================================= */
.requirements-box .text-req {
    width: 100%;
}

.requirements-box .text-req h3 {
    font-size: calc(var(--sub-title-size));
    color: var(--title-color);
}

.requirements-box .text-req ul, ol{
    margin-top: 25px;
    list-style-position: inside;
    color: var(--text-color);
}

.requirements-box .text-req ul, ol, li {
    margin: 0.5rem 0;
}
/* =================================================VIDEO-REQUIREMENTS================================================= */
.texts .video-req {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.video-req {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video-req h3{
    font-size: calc(var(--sub-title-size));
    color: var(--title-color);
}

.video-req p{
    margin: 1rem 0;
}

.video-req .video {
    width: 100%;
    height: 20rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 900px) {
.requirements-box {
    display: flex;
    flex-direction: column;
}

.requirements-box .text-req, .video-req {
    width: 100%;
}
}

/* =================================================SOFT-NA-MIDIA================================================= */
.soft-midia{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 5px 0;
}

.soft-midia .video-card {
    width: 49%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.soft-midia .video-card h3{
    font-size: var(--sub-title-size);
    color: var(--title-color);
}

.soft-midia .video-card .video{
    width: 100%;
    margin-top: 2rem;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    .soft-midia{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .soft-midia .video-card {
        width: 100%;
    }  
}
/* =================================================POLITICA================================================= */
#politica {
    font-size: var(text-size);
    color: var(--title-color);
}
/* =================================================MAIS================================================= */

.mais {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.mais .box-mais {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    gap: 10px 0;
}

.mais .box-mais h2{
    color: var(--title-color);
    font-size: var(--title-size);
}

.mais .box-mais ul {
    list-style-position: inside;
}

.mais .box-mais ul li{
    color: var(--text-color);
    font-size: var(--text-size);
}

.mais .box-mais ul li.topico {
    font-weight: 600;
}

.mais .box-mais ul li.item {
    margin-left: 1rem;
}

@media screen and (max-width: 650px) {
    .mais .box-mais h2{
        color: var(--title-color);
        font-size: calc(var(--title-size) - 10px);
    }
}
/* =================================================MAIS================================================= */
/* =================================================SOBRE================================================= */
.box-sobre {
    margin-top: 5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
}

.box-sobre h2{
    font-size: 2.5rem;
    color: #0095be;
}

.box-sobre h3{
    color: #0095be;
}

.sat {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sat .topic {
    width: 100%;
    margin-top: 2rem;
    justify-content: flex-start;
    text-align: left;
}

.sat .topic h3{
    margin: 0.5rem 0;
    font-size: 1.5rem;
    color: #0095be;
}

.sat .topic p {
    margin: 1rem 0;
    max-width: 100%;
}

.sat .topic p.item{
    color: #00475a;
    font-size: 1.5rem;
    margin: 0.5rem 0;

}

.sat .topic ul {
    list-style-position: inside;
}
