/* =================================================CONFIGS================================================= */
:root {
    --text-color: #222222;
    --menu-text-color: #0487D9;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', 'sans-serif';
    text-decoration: none;
}

body {
    min-width: 320px;
    width: 100%;
    margin: auto;
}

body img {
    width: 100%;
}

/* =================================================MENU================================================= */

/*

.content {
    width: 100%;
    height: auto;
}

.container {
    max-width: 100%;
    height: 100%;
    margin: 0 5rem;

}

@media screen and (max-width: 650px) {
    .container {
        max-width: 100%;
        height: 100%;
        margin: 0 1rem;   
    }   
}

*/
/* =================================================HEADER-TOP================================================= */
/*
.header-top {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;

    font-size: 24px;
    font-weight: bolder;
}

.header-top .icon {
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.header-top .icon #last {
    width: 20rem;
    display: flex;
    justify-content: right;  
}

.header-top .icon img{
    width: 2rem;
    height: 2rem;
}

.header-top .icon .text-icon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 20px;
}

.header-top .icon .text-icon p#icon-t   {
    color: var(--title-color);
    transition: 0.2s;
}

.header-top .icon .text-icon p a:hover {
    color: #005e79;
}

.header-top .icon .text-icon p, p a {
    width: 100%;
    font-size: var(--text-size);
    color: var(--text-color);
}

@media screen and (max-width: 650px) {

    .header-top {  
        display: flex;
        justify-content: space-between;
        margin: 0 ;
        padding: 1rem;

    }

    .header-top .icon {
        width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .header-top .icon img{
        width: 1rem;
        height: 1rem;
    } 
    
    .header-top .icon .text-icon {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
        text-align: center;
    }

    .header-top .icon .text-icon p, p a {
        width: 100%;
        font-size: 0.7rem;
        color: var(--text-color);
    }
}
*/
/* =================================================HEADER================================================= */
/*
header {
    max-width: 100%;
    height: 80px;
    border-bottom: 4px solid rgba(187, 2, 2, 0);
    border-bottom: 2px solid #c0c0c0;
}

header div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

header div.container a #logo {
    width: 13.75rem;
}

.main-tittle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 2rem auto;
}

.main-tittle h1{
    margin: 1rem auto;
    font-size: 42px;
    width: auto;
    color: var(--title-color);
}

.main-tittle h2{
    font-size: 40px;
}

@media screen and (max-width: 1080px) {
    header {
        height: 60px;
        border: none;
    }

    header div.container {    
        display: flex;
        align-items: center;
    }

    header div.container a {
        margin: auto;
    }

    header div.container a #logo {
        width: 8rem;
    } 
}

div.container nav{
    display: flex;
    align-items: baseline;
}

div.container nav button{
    background-color: #20202000;
    border: none;
    visibility: hidden;
    position: absolute;
}

div.container nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    list-style-position: inside;
    gap: 0 30px;
}

div.container nav ul li a {
    color: #202020;
    font-weight: 500;
    font-size: var(--text-size);
    transition: color 0.2s, border 0.2s;
}

div.container nav ul li a:hover{
    border-bottom: 4px solid var(--title-color);
    color: var(--title-color);
}

@media screen and (max-width: 900px) {
    header {
        height: 40px;
        margin-bottom: 1rem;
    }

    header div.container a #logo {
        width: 8rem;
    }

    div.container nav button{
        border: none;
        visibility: visible;
        position: relative;
        width: 25px;
        height: 10px;
        border-top: 3px solid currentColor;
        transition: 0.2s;
    }

    div.container nav button::after {
        content: '';
        display: block;
        width: 25px;
        height: 3px;
        background-color: currentColor;
        margin: 5px 0;
    }

    div.container nav button::before {
        content: '';
        display: block;
        width: 25px;
        height: 3px;
        background-color: currentColor;
        margin: 5px 0;
    }

    div.container nav ul {
        display: block;
        visibility: hidden;
        position: absolute;
        width: 100%;
        height: 0;
        top: 155px;
        left: 0;
        z-index: 1000;
        background-color: #ffffff;
        transition: 0.2s;
        overflow: hidden;
    }

    div.container nav.active  ul{
        visibility: visible;
        height: calc(100vh - 155px);
        overflow: auto;
    }

    div.container nav.active  ul li{
        padding: 10px;
        border-bottom: 2px solid #0095be33;
    }

    div.container nav.active button {
        border-top-color: #0095be00;
    }

    nav.active button::before{
        transform: rotate(135deg);
    }

    nav.active button::after {
        position: relative;
        transform: rotate(-135deg);
        top: -7px;
    }
}
*/
/* =================================================BANNER================================================= */
/*
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px 0;
    width: 100%;
    height: 320px;
    background: linear-gradient(150grad, #0095be, #83e2fc);
    font-weight: 600;
    font-size: var(--banner-text-size);
    color: var(--banner-color);
    text-align: center;
}

#banner-button button {
    border: 3px solid #f5f5f5;
    background-color: #f5f5f500;
    border-radius: 5px;
    font-size: var(--text-size);
    color: #f5f5f5;
}

#banner-button button a {
    display: inline-block;
    padding: 1rem 4rem;
    font-size: var(--text-size);
    color: #f5f5f5;
    font-weight: 600;
    transition: background 0.2s, color 0.1s;
}

#banner-button a:hover{
    background-color: #f5f5f5;
    color: var(--title-color);
}

@media screen and (max-width: 650px) {
    .banner h3 {
        font-size: 1.5rem;
    }   

    #banner-button {
        height: auto;
        padding: 1rem 0;
    }
}
*/
/* =================================================WHATSAPP================================================= */
/*
footer {
    width: 100%;
    height: 300px;
    margin-top: 20rem;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--title-color);
    text-align: center;
}

footer p, p a{
    color: #f5f5f5;
}

footer .tags {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: left;
}

footer .tags p{
    display: block;
    width: 50%;
    font-size: calc(var(--text-size) - 2px);
}

footer .tags #strong {
    font-weight: 600;
}

footer .box-footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .links{
    width: 50%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.links .link {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links .link a img{
    width: 3rem;
}

.links .link p {
    color: #f5f5f5;
}
*/