/* =================================================MAIS================================================= */

.mais {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.mais .box-mais {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    gap: 10px 0;
}

.mais .box-mais h2{
    color: var(--title-color);
    font-size: var(--title-size);
}

.mais .box-mais ul {
    list-style-position: inside;
}

.mais .box-mais ul li{
    color: var(--text-color);
    font-size: var(--text-size);
}

.mais .box-mais ul li.topico {
    font-weight: 600;
}

.mais .box-mais ul li.item {
    margin-left: 1rem;
}

@media screen and (max-width: 650px) {
    .mais .box-mais h2{
        color: var(--title-color);
        font-size: calc(var(--title-size) - 10px);
    }
}