* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#logo {
  width: 200px;
}

nav > button {
  display: none;
}

nav ul {
  list-style-type: none;
  list-style-position: inside;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 0 20px;
}

nav ul li {
  display: inline-block;
  text-align: justify;
  height: 30px;
}

nav ul li a {
  font-family: 'Raleway', sans-serif;
  color: #424242;
  font-weight: 600;
  transition: color 0.1s;
}

nav ul li a:hover {
  color: #0095be;
}

@media screen and (max-width: 864px) {
  nav > button {
    display: block;
    background-color: rgba(0, 200, 255, 0);
    border: none;
  }

  


  nav ul {
    flex-direction: column;
    position: absolute;
    top: 132px;
    left: -100%;
    right: 0;
    min-height: 100vh;
    background: white;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
    opacity: 0;
  }

  nav ul.active {
    left: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 802px) {
  nav > button {
    display: block;
  }

  nav ul {
    top: 191px;
  }
}
