.box-sobre {
    margin-top: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-sobre h2{
    font-size: 2.5rem;
    color: #0095be;
}

.sat {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sat .topic {
    width: 100%;
    margin-top: 2rem;
    justify-content: flex-start;
    text-align: left;
}

.sat .topic h3{
    margin: 0.5rem 0;
    font-size: 1.5rem;
    color: #0095be;
}

.sat .topic p {
    margin: 1rem 0;
}

.sat .topic p.item{
    color: #00475a;
    font-size: 1.5rem;
    margin: 0.5rem 0;

}

.sat .topic ul {
    list-style-position: inside;
}