.box-pr{
    display: flex;
    flex-direction: column;
    gap: 30px 0;
}

.box-pr h2{
    margin: 2rem 0 1rem 0;
}

.box-perguntas-respostas{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.box-perguntas-respostas .pergunta{
    color: var(--title-color);
    font-size: calc(var(--sub-title-size) - 7px);
}


.box-perguntas-respostas .resposta p{
    color: var(--text-color);
    font-size: var(--text-size);
}
