.box-propaganda {
    margin: 2rem 0 0 0;
    display: grid;
    height: 800px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2rem;
    border-radius: 5px;
}

.box-propaganda p{
    font-size: var(--text-size);
}

.box-propaganda img{
    width: 500px;
}

.box-propaganda .box{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.box-propaganda .box h2{
    margin: 0;
    text-align: left;
}

.box-propaganda .box ul{
    list-style-position: inside;
    color: var(--text-color);
    font-size: var(--text-size);
}

.box-propaganda .box ul li{
    margin: 1rem 0;
}

.box-propaganda .box button{
    margin-top: 4rem ;
    width: auto;
    border: none;
    background-color: #8d1b1b00;
}

.box-propaganda .box button a{
    padding: 2rem;
    background-color: var(--title-color);
    font-size: var(--text-size);
    color: #f5f5f5;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.2s;
    border: 3px solid #ffffff00;
}

.box-propaganda .box button a:hover{
    background-color: #8d1b1b00;
    color: #0d0d0d;
    border: 3px solid var(--title-color);
}

@media screen and (max-width: 650px) {
    .box-propaganda {
       display: flex;
       flex-direction: column;
       text-align: center;
    }

    .box-propaganda h2{
        text-align: center;
    }

    .box-propaganda img{
        width: 300px;
    }

    .box-propaganda button{
        padding: 1rem;
        max-width: 200px;
    }
}