#soft-na-midia-section .container .soft-midia{
    padding: 0;
    display: flex;
    margin-bottom: 2rem;
    gap: 0;
}

.soft-midia .video-card{
    width: 23.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0;
    padding: 1rem;
}

.box-videos-apr .video-card-apr.smp{
    height: 500px;
}